In [1]:
str="a,b,c,d"
str.split(" ")

['a,b,c,d']

In [2]:
str=input().strip()
str
list=str.split(" ")
list

hiuahid hushdiuah uidhfiuwh

['hiuahid', 'hushdiuah', 'uidhfiuwh']

In [3]:
list

['hiuahid', 'hushdiuah', 'uidhfiuwh']

In [4]:
list.insert(2,35)
list

['hiuahid', 'hushdiuah', 35, 'uidhfiuwh']

In [5]:
l2=[2,3,4]
list.extend(l2)

In [6]:
list

['hiuahid', 'hushdiuah', 35, 'uidhfiuwh', 2, 3, 4]

In [7]:
list.pop()

4

In [8]:
list

['hiuahid', 'hushdiuah', 35, 'uidhfiuwh', 2, 3]

In [9]:
list.pop(2)

35

In [10]:
list.remove(2)

In [11]:
list

['hiuahid', 'hushdiuah', 'uidhfiuwh', 3]

In [12]:
#remove takes value but pop takes index

In [13]:
del list[2]

In [14]:
list

['hiuahid', 'hushdiuah', 3]

In [15]:
list=list*4
list

['hiuahid',
 'hushdiuah',
 3,
 'hiuahid',
 'hushdiuah',
 3,
 'hiuahid',
 'hushdiuah',
 3,
 'hiuahid',
 'hushdiuah',
 3]

In [16]:
l=[1,2,3]

In [17]:
l.clear()

In [18]:
l

[]

In [19]:
l=[2,3,5,1,8,90,56,34]

In [20]:
l.sort()

In [21]:
l

[1, 2, 3, 5, 8, 34, 56, 90]

In [22]:
l.count(8)

1

In [23]:
l.index(56)

6

In [24]:
# dictionary

In [25]:
d={}

In [26]:
d[23]=34

In [27]:
d

{23: 34}

In [28]:
#key can be integer , string .

In [29]:
d["str"]=345
d

{23: 34, 'str': 345}

In [30]:
#list can be provided as dictionary value

In [31]:
d[26]=[1,2,3,4]

In [32]:
d

{23: 34, 'str': 345, 26: [1, 2, 3, 4]}

In [33]:
for i in d:
    print(i,end=":")
    print(d[i])

23:34
str:345
26:[1, 2, 3, 4]

In [34]:
d1={}
d2={}
d1[2]=1
d2[2]=1
d1==d2
#true

True

In [35]:
len(d1)

1

In [36]:
d1.clear()

In [37]:
d1

{}